<style>
    .main-content {
        font-size: 12px;
        background-color: #f2f2f166;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-top: 10px;
        width: 100%;
        float: left;
        margin-bottom: 15px;
    }

    .match-title {
        text-align: center;
        font-size: 13px;
        color: #f1f1f1;
        padding: 10px;
        border-bottom: 1px solid #ada7a7;
        background-color: #2196F3;
        border-radius: 2px 2px 0 0;
    }

    td {
        border: 1px solid #ccc;
        font-size: 12px;
        text-align: center;
        color: #0645ad;
        padding: 5px;
    }

    th {
        border: 1px solid #ccc;
        color: #222;
        font-size: 12px;
        text-align: center;
        padding: 5px;
        font-weight: bold;
    }

    table.team-statistics {
        background-color: #f8f9fa;
        color: #222;
        border-collapse: collapse;
        width: 100%;
    }

    table.team-statistics td:first-child, table.team-statistics th:first-child {
        border-left: none;
    }

    table.team-statistics td:last-child, table.team-statistics th:last-child {
        border-right: none;
    }

    .last-border {
        border-bottom: none;
    }

    table tr:nth-child(odd) td {
        background: #fff;
    }

    table tr:nth-child(even) td {
        background: #f5f5f5;
    }
	
	.future-date td {
		color: green;
		font-weight: bold;
		text-shadow: 1px 1px #ccc;
	}
	

</style>

<div class="main-content">
    <div class="match-title">
        ২০১৯ সালে বাংলাদেশের পাবলিক ছুটির দিন
    </div>
    <table class="team-statistics">
        <thead>
        <tr>
            <th>দিন</th>
            <th>তারিখ</th>
            <th>ছুটির দিন</th>
            <th>মন্তব্য</th>
        </tr>
        </thead>
        <tbody>
        <tr id="2019-02-21">
            <td>বৃহস্পতিবার</td>
            <td>
                ২১ ফেব্রুয়ারি
            </td>
            <td>
                ভাষা শহীদ দিবস
            </td>
            <td>
                আন্তর্জাতিক মাতৃভাষা দিবস
            </td>
        </tr>
        <tr id="2019-03-17">
            <td>রবিবার</td>
            <td>
                ১৭ মার্চ
            </td>
            <td>
                শেখ
                মুজিবুর রহমান এর জন্মদিন
            </td>
            <td>
                বাংলাদেশের জাতির পিতার জন্মদিন
            </td>
        </tr>
        <tr id="2019-03-26">
            <td>মঙ্গলবার</td>
            <td>
                ২৬ মার্চ
            </td>
            <td>
                স্বাধীনতা
                দিবস
            </td>
            <td>
                ১৯৭১ সালে পাকিস্তান থেকে স্বাধীনতা ঘোষণা
            </td>
        </tr>
        <tr id="2019-04-14">
            <td>রবিবার</td>
            <td>
                ১৪ এপ্রিল
            </td>
            <td>
                বাংলা
                নববর্ষ
            </td>
            <td>
                ফেস্টিভাল বাংলা বছরের শুরু উপলক্ষে
            </td>
        </tr>
        <tr id="2019-04-21">
            <td>সোমবার</td>
            <td>
                ২২ এপ্রিল
            </td>
            <td>
                শবে বরাত
            </td>
            <td>
                আরবী শা'বান মাসের ১৫ তারিখে পালিত একটি পূণ্যময় রাত
            </td>
        </tr>
        <tr id="2019-05-01">
            <td>বুধবার</td>
            <td>
                ০১ মে
            </td>
            <td>
                মে দিবস
            </td>
            <td>
                আন্তর্জাতিক শ্রম দিবস
            </td>
        </tr>
        <tr id="2019-05-19">
            <td>রবিবার</td>
            <td>
                ১৯ মে
            </td>
            <td>
                বুদ্ধ
                পূর্ণিমা
            </td>
            <td>
                বুদ্ধের জন্ম। মে মাসে পূর্ণিমা দিনে পর্যবেক্ষণ করা
                হয়েছে
            </td>
        </tr>
        <tr id="2019-05-31">
            <td>শুক্রবার</td>
            <td>
                ৩১ মে
            </td>
            <td>
                জুমাতুল বিদা
            </td>
            <td>
                রমজান মাসের শেষ শুক্রবার
            </td>
        </tr>
        <tr id="2019-06-01">
            <td>শনিবার</td>
            <td>
                ০১ জুন
            </td>
            <td>
                ২৭ রমজান
            </td>
            <td>
                ২৭ রমজান দিনে এটি পালিত
            </td>
        </tr>
        <tr id="2019-06-05">
            <td>বুধবার</td>
            <td>
                ০৫ জুন
            </td>
            <td>
                ঈদ উল ফিতর
            </td>
            <td>
                রমজান শেষ
            </td>
        </tr>
        <tr id="2019-06-06">
            <td>বৃহস্পতিবার</td>
            <td>
                ০৬ জুন
            </td>
            <td>
                ঈদ-উল-ফিতর
            </td>
            <td>
                ঈদ-উল-ফিতর ছুটি
            </td>
        </tr>
        <tr id="2019-08-12">
            <td>সোমবার</td>
            <td>
                ১২ আগস্ট
            </td>
            <td>
                ঈদুল আজহা
            </td>
            <td>
                চাঁদ দেখা উপর পরিবর্তিত হয়
            </td>
        </tr>
        <tr id="2019-08-13">
            <td>মঙ্গলবার</td>
            <td>
                ১৩ আগস্ট
            </td>
            <td>
                ঈদুল আজহা
            </td>
            <td>
                চাঁদ দেখা উপর পরিবর্তিত হয়
            </td>
        </tr>
        <tr id="2019-08-14">
            <td>বুধবার</td>
            <td>
                ১৪ আগস্ট
            </td>
            <td>
                ঈদুল আজহা
            </td>
            <td>
                চাঁদ দেখা উপর পরিবর্তিত হয়
            </td>
        </tr>
        <tr id="2019-08-15">
            <td>বৃহস্পতিবার</td>
            <td>
                ১৫ আগস্ট
            </td>
            <td>
                জাতীয় শোক দিবস
            </td>
            <td>
                জাতির জনক বঙ্গবন্ধু শেখ মুজিবুর রহমানের শাহাদাৎবার্ষিকী
            </td>
        </tr>
        <tr id="2019-08-24">
            <td>শনিবার</td>
            <td>
                ২৪ আগস্ট
            </td>
            <td>
                জন্মাষ্টমী
            </td>
            <td>
                শ্রীকৃষ্ণের জন্মদিন উপলক্ষে এ উৎসব পালিত হয়
            </td>
        </tr>
        <tr id="2019-09-10">
            <td>মঙ্গলবার</td>
            <td>
                ১০ সেপ্টেম্বর
            </td>
            <td>
                আশুরা
            </td>
            <td>
                মুহররম এর দশম দিনকে আশুরা বলা হয়
            </td>
        </tr>
        <tr id="2019-10-08">
            <td>মঙ্গলবার</td>
            <td>
                ০৮ অক্টোবর
            </td>
            <td>
                দুর্গাপূজা
            </td>
            <td>
                সনাতন ধর্মালম্বীদের সবচেয়ে বড় পূজা
            </td>
        </tr>
        <tr id="2019-11-10">
            <td>রবিবার</td>
            <td>
                ১০ নভেম্বর
            </td>
            <td>
                ঈদে মিলাদুন্নবী
            </td>
            <td>
                মহানবী সঃ এর দুনিয়াতে আবির্ভাবের আনন্দ
            </td>
        </tr>
        <tr id="2019-12-16">
            <td>সোমবার</td>
            <td>
                ১৬ ডিসেম্বর
            </td>
            <td>
                স্বাধীনতা দিবস
            </td>
            <td>
                মুক্তিবাহিনীর কাছে পাকিস্তানি সেনাবাহিনীর আত্মসমর্পণ উদযাপন
            </td>
        </tr>
        <tr id="2019-12-25">
            <td class="last-border">বুধবার</td>
            <td class="last-border">২5 ডিসেম্বর</td>
            <td class="last-border">বড়দিন</td>
            <td class="last-border">যিশুখ্রিস্টের জন্মদিন উপলক্ষে বিশ্বজুড়ে এ উৎসব পালিত হয়</td>
        </tr>
        </tbody>
    </table>
</div>

<script>

var time = new Date().toISOString().split('T')[0];
var current_date = new Date(time);

var cars = ["2019-02-21", "2019-03-17", "2019-03-26","2019-04-14","2019-04-21","2019-05-01","2019-05-19","2019-05-31","2019-06-01","2019-06-05","2019-06-06","2019-08-12",
			"2019-08-13","2019-08-14","2019-08-15","2019-08-24","2019-09-10","2019-10-08","2019-11-10","2019-12-16","2019-12-25"];
for(var i=0;i<cars.length;i++){
   var date_value = cars[i];
   mydate=new Date(date_value);
   //alert(date+"=="+mydate);
   if(current_date < mydate)
	{
		document.getElementById(date_value).classList.add("future-date");
	}
}

</script>


