<style>
    .main-content {
        font-size: 12px;
        background-color: #f2f2f166;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-top: 10px;
        width: 100%;
        float: left;
        margin-bottom: 15px;
    }

    .match-title {
        text-align: center;
        font-size: 13px;
        color: #f1f1f1;
        padding: 10px;
        border-bottom: 1px solid #ada7a7;
        background-color: #2196F3;
        border-radius: 2px 2px 0 0;
    }

    td {
        border: 1px solid #ccc;
        font-size: 12px;
        text-align: center;
        color: #0645ad;
        padding: 5px;
    }

    th {
        border: 1px solid #ccc;
        color: #222;
        font-size: 12px;
        text-align: center;
        padding: 5px;
        font-weight: bold;
    }

    table.team-statistics {
        background-color: #f8f9fa;
        color: #222;
        border-collapse: collapse;
        width: 100%;
    }

    table.team-statistics td:first-child, table.team-statistics th:first-child {
        border-left: none;
    }

    table.team-statistics td:last-child, table.team-statistics th:last-child {
        border-right: none;
    }

    .last-border {
        border-bottom: none;
    }

    table tr:nth-child(odd) td {
        background: #fff;
    }

    table tr:nth-child(even) td {
        background: #f5f5f5;
    }

    .weekend-date {
        color: #F66;
        font-weight: bolder;
    }

    .holiday-date {
        color: #05d23b;
        font-weight: bolder;
    }

    caption {
        font-size: 14px;
        font-weight: bolder;
        color: #000;
        padding: 5px;
    }

    .weekend-date-title {
        color: #F66;
        font-weight: bolder;
        padding: 0 5px;
    }

    .public-holiday-title {
        color: #05d23b;
        font-weight: bolder;
    }
</style>


<div class="match-title">
    Note : <span class="weekend-date-title"> * = Weekend day, </span>
    <span class="public-holiday-title"> * = Public Holiday</span>
</div>
<div class="main-content">
    <table class="team-statistics">
        <caption>January</caption>
        <tbody>
        <tr>
            <th>Su</th>
            <th>Mo</th>
            <th>Tu</th>
            <th>We</th>
            <th>Th</th>
            <th>Fr</th>
            <th>Sa</th>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="">1</td>
            <td class="">2</td>
            <td class="">3</td>
            <td class=" weekend-date">4</td>
            <td class=" weekend-date">5</td>
        </tr>
        <tr>
            <td class="">6</td>
            <td class="">7</td>
            <td class="">8</td>
            <td class="">9</td>
            <td class="">10</td>
            <td class=" weekend-date">11</td>
            <td class=" weekend-date">12</td>
        </tr>
        <tr>
            <td class="">13</td>
            <td class="">14</td>
            <td class="">15</td>
            <td class="">16</td>
            <td class="">17</td>
            <td class=" weekend-date">18</td>
            <td class=" weekend-date">19</td>
        </tr>
        <tr>
            <td class="">20</td>
            <td class="">21</td>
            <td class="">22</td>
            <td class="">23</td>
            <td class="">24</td>
            <td class=" weekend-date">25</td>
            <td class=" weekend-date">26</td>
        </tr>
        <tr>
            <td class="last-border">27</td>
            <td class="last-border">28</td>
            <td class="last-border">29</td>
            <td class="last-border">30</td>
            <td class="last-border">31</td>
            <td class="last-border">&nbsp;</td>
            <td class="last-border">&nbsp;</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="main-content">
    <table class="team-statistics">
        <caption>February</caption>
        <tbody>
        <tr>
            <th>Su</th>
            <th>Mo</th>
            <th>Tu</th>
            <th>We</th>
            <th>Th</th>
            <th>Fr</th>
            <th>Sa</th>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class=" weekend-date">1</td>
            <td class=" weekend-date">2</td>
        </tr>
        <tr>
            <td class="">3</td>
            <td class="">4</td>
            <td class="">5</td>
            <td class="">6</td>
            <td class="">7</td>
            <td class=" weekend-date">8</td>
            <td class=" weekend-date">9</td>
        </tr>
        <tr>
            <td class="">10</td>
            <td class="">11</td>
            <td class="">12</td>
            <td class="">13</td>
            <td class="">14</td>
            <td class=" weekend-date">15</td>
            <td class=" weekend-date">16</td>
        </tr>
        <tr>
            <td class="">17</td>
            <td class="">18</td>
            <td class="">19</td>
            <td class="">20</td>
            <td class="holiday-date">21</td>
            <td class=" weekend-date">22</td>
            <td class=" weekend-date">23</td>
        </tr>
        <tr>
            <td class="last-border">24</td>
            <td class="last-border">25</td>
            <td class="last-border">26</td>
            <td class="last-border">27</td>
            <td class="last-border">28</td>
            <td class="last-border">&nbsp;</td>
            <td class="last-border">&nbsp;</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="main-content">
    <table class="team-statistics">
        <caption>March</caption>
        <tbody>
        <tr>
            <th>Su</th>
            <th>Mo</th>
            <th>Tu</th>
            <th>We</th>
            <th>Th</th>
            <th>Fr</th>
            <th>Sa</th>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class=" weekend-date">1</td>
            <td class=" weekend-date">2</td>
        </tr>
        <tr>
            <td class="">3</td>
            <td class="">4</td>
            <td class="">5</td>
            <td class="">6</td>
            <td class="">7</td>
            <td class=" weekend-date">8</td>
            <td class=" weekend-date">9</td>
        </tr>
        <tr>
            <td class="">10</td>
            <td class="">11</td>
            <td class="">12</td>
            <td class="">13</td>
            <td class="">14</td>
            <td class=" weekend-date">15</td>
            <td class=" weekend-date">16</td>
        </tr>
        <tr>
            <td class="holiday-date">17</td>
            <td class="">18</td>
            <td class="">19</td>
            <td class="">20</td>
            <td class="">21</td>
            <td class=" weekend-date">22</td>
            <td class=" weekend-date">23</td>
        </tr>
        <tr>
            <td class="">24</td>
            <td class="">25</td>
            <td class="holiday-date">26</td>
            <td class="">27</td>
            <td class="">28</td>
            <td class=" weekend-date">29</td>
            <td class=" weekend-date">30</td>
        </tr>
        <tr>
            <td class="last-border">31</td>
            <td class="last-border">&nbsp;</td>
            <td class="last-border">&nbsp;</td>
            <td class="last-border">&nbsp;</td>
            <td class="last-border">&nbsp;</td>
            <td class="last-border">&nbsp;</td>
            <td class="last-border">&nbsp;</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="main-content">
    <table class="team-statistics">
        <caption>April</caption>
        <tbody>
        <tr>
            <th>Su</th>
            <th>Mo</th>
            <th>Tu</th>
            <th>We</th>
            <th>Th</th>
            <th>Fr</th>
            <th>Sa</th>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td class="">1</td>
            <td class="">2</td>
            <td class="">3</td>
            <td class="">4</td>
            <td class=" weekend-date">5</td>
            <td class=" weekend-date">6</td>
        </tr>
        <tr>
            <td class="">7</td>
            <td class="">8</td>
            <td class="">9</td>
            <td class="">10</td>
            <td class="">11</td>
            <td class=" weekend-date">12</td>
            <td class=" weekend-date">13</td>
        </tr>
        <tr>
            <td class="holiday-date">14</td>
            <td class="">15</td>
            <td class="">16</td>
            <td class="">17</td>
            <td class="">18</td>
            <td class=" weekend-date">19</td>
            <td class=" weekend-date">20</td>
        </tr>
        <tr>
            <td class="">21</td>
            <td class="holiday-date">22</td>
            <td class="">23</td>
            <td class="">24</td>
            <td class="">25</td>
            <td class=" weekend-date">26</td>
            <td class=" weekend-date">27</td>
        </tr>
        <tr>
            <td class="last-border">28</td>
            <td class="last-border">29</td>
            <td class="last-border">30</td>
            <td class="last-border">&nbsp;</td>
            <td class="last-border">&nbsp;</td>
            <td class="last-border">&nbsp;</td>
            <td class="last-border">&nbsp;</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="main-content">
    <table class="team-statistics">
        <caption>May</caption>
        <tbody>
        <tr>
            <th>Su</th>
            <th>Mo</th>
            <th>Tu</th>
            <th>We</th>
            <th>Th</th>
            <th>Fr</th>
            <th>Sa</th>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="holiday-date">1</td>
            <td class="">2</td>
            <td class=" weekend-date">3</td>
            <td class=" weekend-date">4</td>
        </tr>
        <tr>
            <td class="">5</td>
            <td class="">6</td>
            <td class="">7</td>
            <td class="">8</td>
            <td class="">9</td>
            <td class=" weekend-date">10</td>
            <td class=" weekend-date">11</td>
        </tr>
        <tr>
            <td class="">12</td>
            <td class="">13</td>
            <td class="">14</td>
            <td class="">15</td>
            <td class="">16</td>
            <td class=" weekend-date">17</td>
            <td class=" weekend-date">18</td>
        </tr>
        <tr>
            <td class="holiday-date">19</td>
            <td class="">20</td>
            <td class="">21</td>
            <td class="">22</td>
            <td class="">23</td>
            <td class=" weekend-date">24</td>
            <td class=" weekend-date">25</td>
        </tr>
        <tr>
            <td class="last-border">26</td>
            <td class="last-border">27</td>
            <td class="last-border">28</td>
            <td class="last-border">29</td>
            <td class="last-border">30</td>
            <td class="holiday-date weekend-date last-border">31</td>
            <td class="last-border">&nbsp;</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="main-content">
    <table class="team-statistics">
        <caption>June</caption>
        <tbody>
        <tr>
            <th>Su</th>
            <th>Mo</th>
            <th>Tu</th>
            <th>We</th>
            <th>Th</th>
            <th>Fr</th>
            <th>Sa</th>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="holiday-date weekend-date">1</td>
        </tr>
        <tr>
            <td class="">2</td>
            <td class="">3</td>
            <td class="">4</td>
            <td class="holiday-date">5</td>
            <td class="holiday-date">6</td>
            <td class=" weekend-date">7</td>
            <td class=" weekend-date">8</td>
        </tr>
        <tr>
            <td class="">9</td>
            <td class="">10</td>
            <td class="">11</td>
            <td class="">12</td>
            <td class="">13</td>
            <td class=" weekend-date">14</td>
            <td class=" weekend-date">15</td>
        </tr>
        <tr>
            <td class="">16</td>
            <td class="">17</td>
            <td class="">18</td>
            <td class="">19</td>
            <td class="">20</td>
            <td class=" weekend-date">21</td>
            <td class=" weekend-date">22</td>
        </tr>
        <tr>
            <td class="">23</td>
            <td class="">24</td>
            <td class="">25</td>
            <td class="">26</td>
            <td class="">27</td>
            <td class=" weekend-date">28</td>
            <td class=" weekend-date">29</td>
        </tr>
        <tr>
            <td class="last-border">30</td>
            <td class="last-border">&nbsp;</td>
            <td class="last-border">&nbsp;</td>
            <td class="last-border">&nbsp;</td>
            <td class="last-border">&nbsp;</td>
            <td class="last-border">&nbsp;</td>
            <td class="last-border">&nbsp;</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="main-content">
    <table class="team-statistics">
        <caption>July</caption>
        <tbody>
        <tr>
            <th>Su</th>
            <th>Mo</th>
            <th>Tu</th>
            <th>We</th>
            <th>Th</th>
            <th>Fr</th>
            <th>Sa</th>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td class="">1</td>
            <td class="">2</td>
            <td class="">3</td>
            <td class="">4</td>
            <td class=" weekend-date">5</td>
            <td class=" weekend-date">6</td>
        </tr>
        <tr>
            <td class="">7</td>
            <td class="">8</td>
            <td class="">9</td>
            <td class="">10</td>
            <td class="">11</td>
            <td class=" weekend-date">12</td>
            <td class=" weekend-date">13</td>
        </tr>
        <tr>
            <td class="">14</td>
            <td class="">15</td>
            <td class="">16</td>
            <td class="">17</td>
            <td class="">18</td>
            <td class=" weekend-date">19</td>
            <td class=" weekend-date">20</td>
        </tr>
        <tr>
            <td class="">21</td>
            <td class="">22</td>
            <td class="">23</td>
            <td class="">24</td>
            <td class="">25</td>
            <td class=" weekend-date">26</td>
            <td class=" weekend-date">27</td>
        </tr>
        <tr>
            <td class="last-border">28</td>
            <td class="last-border">29</td>
            <td class="last-border">30</td>
            <td class="last-border">31</td>
            <td class="last-border">&nbsp;</td>
            <td class="last-border">&nbsp;</td>
            <td class="last-border">&nbsp;</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="main-content">
    <table class="team-statistics">
        <caption>August</caption>
        <tbody>
        <tr>
            <th>Su</th>
            <th>Mo</th>
            <th>Tu</th>
            <th>We</th>
            <th>Th</th>
            <th>Fr</th>
            <th>Sa</th>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="">1</td>
            <td class=" weekend-date">2</td>
            <td class=" weekend-date">3</td>
        </tr>
        <tr>
            <td class="">4</td>
            <td class="">5</td>
            <td class="">6</td>
            <td class="">7</td>
            <td class="">8</td>
            <td class=" weekend-date">9</td>
            <td class=" weekend-date">10</td>
        </tr>
        <tr>
            <td class="">11</td>
            <td class="holiday-date">12</td>
            <td class="holiday-date">13</td>
            <td class="holiday-date">14</td>
            <td class="holiday-date">15</td>
            <td class=" weekend-date">16</td>
            <td class=" weekend-date">17</td>
        </tr>
        <tr>
            <td class="">18</td>
            <td class="">19</td>
            <td class="">20</td>
            <td class="">21</td>
            <td class="">22</td>
            <td class=" weekend-date">23</td>
            <td class="holiday-date weekend-date">24</td>
        </tr>
        <tr>
            <td class="">25</td>
            <td class="">26</td>
            <td class="">27</td>
            <td class="">28</td>
            <td class="">29</td>
            <td class=" weekend-date">30</td>
            <td class=" weekend-date">31</td>
        </tr>
        <tr>
            <td class="last-border">&nbsp;</td>
            <td class="last-border">&nbsp;</td>
            <td class="last-border">&nbsp;</td>
            <td class="last-border">&nbsp;</td>
            <td class="last-border">&nbsp;</td>
            <td class="last-border">&nbsp;</td>
            <td class="last-border">&nbsp;</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="main-content">
    <table class="team-statistics">
        <caption>September</caption>
        <tbody>
        <tr>
            <th>Su</th>
            <th>Mo</th>
            <th>Tu</th>
            <th>We</th>
            <th>Th</th>
            <th>Fr</th>
            <th>Sa</th>
        </tr>
        <tr>
            <td class="">1</td>
            <td class="">2</td>
            <td class="">3</td>
            <td class="">4</td>
            <td class="">5</td>
            <td class=" weekend-date">6</td>
            <td class=" weekend-date">7</td>
        </tr>
        <tr>
            <td class="">8</td>
            <td class="">9</td>
            <td class="holiday-date">10</td>
            <td class="">11</td>
            <td class="">12</td>
            <td class=" weekend-date">13</td>
            <td class=" weekend-date">14</td>
        </tr>
        <tr>
            <td class="">15</td>
            <td class="">16</td>
            <td class="">17</td>
            <td class="">18</td>
            <td class="">19</td>
            <td class=" weekend-date">20</td>
            <td class=" weekend-date">21</td>
        </tr>
        <tr>
            <td class="">22</td>
            <td class="">23</td>
            <td class="">24</td>
            <td class="">25</td>
            <td class="">26</td>
            <td class=" weekend-date">27</td>
            <td class=" weekend-date">28</td>
        </tr>
        <tr>
            <td class="last-border">29</td>
            <td class="last-border">30</td>
            <td class="last-border">&nbsp;</td>
            <td class="last-border">&nbsp;</td>
            <td class="last-border">&nbsp;</td>
            <td class="last-border">&nbsp;</td>
            <td class="last-border">&nbsp;</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="main-content">
    <table class="team-statistics">
        <caption>October</caption>
        <tbody>
        <tr>
            <th>Su</th>
            <th>Mo</th>
            <th>Tu</th>
            <th>We</th>
            <th>Th</th>
            <th>Fr</th>
            <th>Sa</th>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="">1</td>
            <td class="">2</td>
            <td class="">3</td>
            <td class=" weekend-date">4</td>
            <td class=" weekend-date">5</td>
        </tr>
        <tr>
            <td class="">6</td>
            <td class="">7</td>
            <td class="holiday-date">8</td>
            <td class="">9</td>
            <td class="">10</td>
            <td class=" weekend-date">11</td>
            <td class=" weekend-date">12</td>
        </tr>
        <tr>
            <td class="">13</td>
            <td class="">14</td>
            <td class="">15</td>
            <td class="">16</td>
            <td class="">17</td>
            <td class=" weekend-date">18</td>
            <td class=" weekend-date">19</td>
        </tr>
        <tr>
            <td class="">20</td>
            <td class="">21</td>
            <td class="">22</td>
            <td class="">23</td>
            <td class="">24</td>
            <td class=" weekend-date">25</td>
            <td class=" weekend-date">26</td>
        </tr>
        <tr>
            <td class="last-border">27</td>
            <td class="last-border">28</td>
            <td class="last-border">29</td>
            <td class="last-border">30</td>
            <td class="last-border">31</td>
            <td class="last-border">&nbsp;</td>
            <td class="last-border">&nbsp;</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="main-content">
    <table class="team-statistics">
        <caption>November</caption>
        <tbody>
        <tr>
            <th>Su</th>
            <th>Mo</th>
            <th>Tu</th>
            <th>We</th>
            <th>Th</th>
            <th>Fr</th>
            <th>Sa</th>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class=" weekend-date">1</td>
            <td class=" weekend-date">2</td>
        </tr>
        <tr>
            <td class="">3</td>
            <td class="">4</td>
            <td class="">5</td>
            <td class="">6</td>
            <td class="">7</td>
            <td class=" weekend-date">8</td>
            <td class=" weekend-date">9</td>
        </tr>
        <tr>
            <td class="holiday-date">10</td>
            <td class="">11</td>
            <td class="">12</td>
            <td class="">13</td>
            <td class="">14</td>
            <td class=" weekend-date">15</td>
            <td class=" weekend-date">16</td>
        </tr>
        <tr>
            <td class="">17</td>
            <td class="">18</td>
            <td class="">19</td>
            <td class="">20</td>
            <td class="">21</td>
            <td class=" weekend-date">22</td>
            <td class=" weekend-date">23</td>
        </tr>
        <tr>
            <td class="">24</td>
            <td class="">25</td>
            <td class="">26</td>
            <td class="">27</td>
            <td class="">28</td>
            <td class=" weekend-date">29</td>
            <td class=" weekend-date">30</td>
        </tr>
        <tr>
            <td class="last-border">&nbsp;</td>
            <td class="last-border">&nbsp;</td>
            <td class="last-border">&nbsp;</td>
            <td class="last-border">&nbsp;</td>
            <td class="last-border">&nbsp;</td>
            <td class="last-border">&nbsp;</td>
            <td class="last-border">&nbsp;</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="main-content">
    <table class="team-statistics">
        <caption>December</caption>
        <tbody>
        <tr>
            <th>Su</th>
            <th>Mo</th>
            <th>Tu</th>
            <th>We</th>
            <th>Th</th>
            <th>Fr</th>
            <th>Sa</th>
        </tr>
        <tr>
            <td class="">1</td>
            <td class="">2</td>
            <td class="">3</td>
            <td class="">4</td>
            <td class="">5</td>
            <td class=" weekend-date">6</td>
            <td class=" weekend-date">7</td>
        </tr>
        <tr>
            <td class="">8</td>
            <td class="">9</td>
            <td class="">10</td>
            <td class="">11</td>
            <td class="">12</td>
            <td class=" weekend-date">13</td>
            <td class=" weekend-date">14</td>
        </tr>
        <tr>
            <td class="">15</td>
            <td class="holiday-date">16</td>
            <td class="">17</td>
            <td class="">18</td>
            <td class="">19</td>
            <td class=" weekend-date">20</td>
            <td class=" weekend-date">21</td>
        </tr>
        <tr>
            <td class="">22</td>
            <td class="">23</td>
            <td class="">24</td>
            <td class="holiday-date">25</td>
            <td class="">26</td>
            <td class=" weekend-date">27</td>
            <td class=" weekend-date">28</td>
        </tr>
        <tr>
            <td class="last-border">29</td>
            <td class="last-border">30</td>
            <td class="last-border">31</td>
            <td class="last-border">&nbsp;</td>
            <td class="last-border">&nbsp;</td>
            <td class="last-border">&nbsp;</td>
            <td class="last-border">&nbsp;</td>
        </tr>
        </tbody>
    </table>
</div>



