<style>
    .main-content {
        font-size: 12px;
        background-color: #f2f2f166;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-top: 10px;
        width: 100%;
        float: left;
        margin-bottom: 15px;
    }

    .match-title {
        text-align: center;
        font-size: 13px;
        color: #f1f1f1;
        padding: 10px;
        border-bottom: 1px solid #ada7a7;
        background-color: #2196F3;
        border-radius: 2px 2px 0 0;
    }

    td {
        border: 1px solid #ccc;
        font-size: 12px;
        text-align: center;
        color: #0645ad;
        padding: 5px;
    }

    th {
        border: 1px solid #ccc;
        color: #222;
        font-size: 12px;
        text-align: center;
        padding: 5px;
        font-weight: bold;
    }

    table.team-statistics {
        background-color: #f8f9fa;
        color: #222;
        border-collapse: collapse;
        width: 100%;
    }

    table.team-statistics td:first-child, table.team-statistics th:first-child {
        border-left: none;
    }

    table.team-statistics td:last-child, table.team-statistics th:last-child {
        border-right: none;
    }

    .last-border {
        border-bottom: none;
    }

    table tr:nth-child(odd) td {
        background: #fff;
    }

    table tr:nth-child(even) td {
        background: #f5f5f5;
    }
	
	.future-date td {
		color: green;
		font-weight: bold;
		text-shadow: 1px 1px #ccc;
	}
	

</style>

<div class="main-content">
    <div class="match-title">
        Public Holidays in Bangladesh 2019
    </div>
    <table class="team-statistics">
        <thead>
        <tr>
            <th>Day</th>
            <th>Date</th>
            <th>Holiday</th>
            <th>Comments</th>
        </tr>
        </thead>
        <tbody>
        <tr id="2019-02-21">
            <td>Thursday</td>
            <td>
                21 February
            </td>
            <td>
                Language Martyrs' Day
            </td>
            <td>
                International Mother Language Day
            </td>
        </tr>
        <tr id="2019-03-17">
            <td>Sunday</td>
            <td>
                17 March
            </td>
            <td>
                Sheikh Mujibur Rahman's birthday
            </td>
            <td>
                Father of Nation of Bangladesh
            </td>
        </tr>
        <tr id="2019-03-26">
            <td>Tuesday</td>
            <td>
                26 March
            </td>
            <td>
                Independence Day
            </td>
            <td>
                Declaration of Independence from Pakistan in 1971
            </td>
        </tr>
        <tr id="2019-04-14">
            <td>Sunday</td>
            <td>
                14 April
            </td>
            <td>
                Bengali New Year
            </td>
            <td>
                Festival marking the start of the Bengali year
            </td>
        </tr>
        <tr id="2019-04-21">
            <td>Sunday</td>
            <td>
                21 April
            </td>
            <td>
                Shab e-Barat
            </td>
            <td>
                Night of Records. Celebrated on the 15th Sha'aban
            </td>
        </tr>
        <tr id="2019-05-01">
            <td>Wednesday</td>
            <td>
                01 May
            </td>
            <td>
                May Day
            </td>
            <td>
                International Labour Day
            </td>
        </tr>
        <tr id="2019-05-19">
            <td>Sunday</td>
            <td>
                19 May
            </td>
            <td>
                Buddha Purnima
            </td>
            <td>
                Birth of Buddha. Observed on the day of the full moon in May
            </td>
        </tr>
        <tr id="2019-05-31">
            <td>Friday</td>
            <td>
                31 May
            </td>
            <td>
                Jumatul Bidah
            </td>
            <td>
                Last Friday of the month of Ramadan
            </td>
        </tr>
        <tr id="2019-06-01">
            <td>Saturday</td>
            <td>
                01 June
            </td>
            <td>
                Night of Destiny
            </td>
            <td>
                Celebrated on the 27th day of Ramadan
            </td>
        </tr>
        <tr id="2019-06-05">
            <td>Wednesday</td>
            <td>
                05 June
            </td>
            <td>
                Eid ul-Fitr
            </td>
            <td>
                End of Ramadan
            </td>
        </tr>
        <tr id="2019-06-06">
            <td>Thursday</td>
            <td>
                06 June
            </td>
            <td>
                Eid ul-Fitr Holiday
            </td>
            <td>
                Eid ul-Fitr Holiday
            </td>
        </tr>
        <tr id="2019-08-12">
            <td>Monday</td>
            <td>
                12 August
            </td>
            <td>
                Eid ul-Adha
            </td>
            <td>
                Date varies on Lunar cycle
            </td>
        </tr>
        <tr id="2019-08-13">
            <td>Tuesday</td>
            <td>
                13 August
            </td>
            <td>
                Eid ul-Adha
            </td>
            <td>
                Date varies on Lunar cycle
            </td>
        </tr>
        <tr id="2019-08-14">
            <td>Wednesday</td>
            <td>
                14 August
            </td>
            <td>
                Eid ul-Adha
            </td>
            <td>
                Date varies on Lunar cycle
            </td>
        </tr>
        <tr id="2019-08-15">
            <td>Thursday</td>
            <td>
                15 August
            </td>
            <td>
                National Mourning Day
            </td>
            <td>
                Black-chapter in the history of Bangalee nation
            </td>
        </tr>
        <tr id="2019-08-24">
            <td>Saturday</td>
            <td>
                24 August
            </td>
            <td>
                Janmashtami
            </td>
            <td>
                Annual Hindu festival that celebrates the birth of Krishna
            </td>
        </tr>
        <tr id="2019-09-10">
            <td>Tuesday</td>

            <td>
                10 September
            </td>
            <td>
                Ashura
            </td>
            <td>
                10th day of Muharram
            </td>
        </tr>
        <tr id="2019-10-08">
            <td>Tuesday</td>
            <td>
                08 October
            </td>
            <td>
                Durga Puja
            </td>
            <td>
                Annual Hindu festival in the Indian subcontinent
            </td>
        </tr>
        <tr id="2019-11-10">
            <td>Sunday</td>
            <td>
                10 November
            </td>
            <td>
                Eid e-Milad-un Nabi
            </td>
            <td>
                Observance of the birthday of the Islamic prophet
            </td>
        </tr>
        <tr id="2019-12-16">
            <td>Monday</td>
            <td>
                16 December
            </td>
            <td>
                Victory Day
            </td>
            <td>
                Commemorates the surrender of the Pakistani army to the Mukti Bahin
            </td>
        </tr>
        <tr id="2019-12-25">
            <td class="last-border">Wednesday</td>
            <td class="last-border">25 December</td>
            <td class="last-border">Christmas Day</td>
            <td class="last-border">Annual festival commemorating the birth of Jesus Christ</td>
        </tr>
        </tbody>
    </table>
</div>

<script>

var time = new Date().toISOString().split('T')[0];
var current_date = new Date(time);

var cars = ["2019-02-21", "2019-03-17", "2019-03-26","2019-04-14","2019-04-21","2019-05-01","2019-05-19","2019-05-31","2019-06-01","2019-06-05","2019-06-06","2019-08-12",
			"2019-08-13","2019-08-14","2019-08-15","2019-08-24","2019-09-10","2019-10-08","2019-11-10","2019-12-16","2019-12-25"];
for(var i=0;i<cars.length;i++){
   var date_value = cars[i];
   mydate=new Date(date_value);
   //alert(date+"=="+mydate);
   if(current_date < mydate)
	{
		document.getElementById(date_value).classList.add("future-date");
	}
}

</script>

